<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>br.mack.projeto.war.servlets.FrontControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>ProdutoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>br.mack.projeto.ejb.facades.ProdutoFacadeLocal</local>
        <ejb-link>Buscador-ejb.jar#ProdutoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LojaFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>br.mack.projeto.ejb.facades.LojaFacadeLocal</local>
        <ejb-link>Buscador-ejb.jar#LojaFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LojaFacade1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>br.mack.projeto.ejb.facades.LojaFacadeLocal</local>
        <ejb-link>Buscador-ejb.jar#LojaFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OfertaFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>br.mack.projeto.ejb.facades.OfertaFacadeLocal</local>
        <ejb-link>Buscador-ejb.jar#OfertaFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BuscaSimples</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>br.mack.projeto.ejb.facades.BuscaSimplesLocal</local>
        <ejb-link>Buscador-ejb.jar#BuscaSimples</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UsuarioFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>br.mack.projeto.ejb.facades.UsuarioFacadeLocal</local>
        <ejb-link>Buscador-ejb.jar#UsuarioFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UsuarioFacade1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>br.mack.projeto.ejb.facades.UsuarioFacadeLocal</local>
        <ejb-link>Buscador-ejb.jar#UsuarioFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UsuarioFacade2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>br.mack.projeto.ejb.facades.UsuarioFacadeLocal</local>
        <ejb-link>Buscador-ejb.jar#UsuarioFacade</ejb-link>
    </ejb-local-ref>
</web-app>
